body {
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
}
.profit {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	display: table;
	background-color: #F3C659;
}
.profit .profit_simple {
	width: 40%;
	padding-top: 20px;
	padding-bottom: 20px;
	display: table-cell;
	background-color: #F8DF9E;
}
.profit .profit_simple .profit_des {
	text-align: center;
	color: #A1833F;
	font-size: 2.3em;
}
.profit .profit_simple .profit_money {
	text-align: center;
	color: #745719;
	font-size: 3.7em;
}
.gameare {
	position: absolute;
	top: 0;
	bottom: 40%;
	width: 100%;
	background-color: #f3c659;
}
div.gamecontainer {
	margin-top: 10%;
	width: 100%;
	height: 60%;
}
canvas#game {
	width: 100%;
	height: 100%;
}
.operate {
	border: 0px;
	background: #f95258;
	width: 40%;
	height: 88px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: white;
	font-size: 3em;
	text-decoration: none;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	margin-top: -44px;
	left: 30%;
}
.gameoperate:before {
	display: block;
	content: "";
	height: 25px;
	background-color: #f3c659;
	background-size: 50px 25px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyCAMAAACd646MAAAASFBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////neHiwAAAAF3RSTlMAPtOQ3MVySumtnWwqWPbuvqeGMSENBSpN188AAAEoSURBVFjDtdVZjsMwDANQWd4TN1vb8P43HSBfRZNpNvNdgDBoSXJUicFm71IHdMn5bEMsUpNpG8UGbVojNcxx8vjBT3GWe0oYsGsIRa4z1uEQZ83ViKbHYX1zJeZpE05J9innvIPiNA1vOcGMuGQ0cliruEhbOeZlcYN9yQEm45ZsZFf0uMlH2fFQ3KaPnQyHCtxjL4OdEhWV6L+9GI9qvJFNr4yK8va8WFRlZUOLylpZMYrKdFXLe0R14/fmDyAIX3dQQaDP7Z9F/GEmgSJ9dt+ApPl4SA+S3hAbWbdSHGhcoc3IelbmAUTDvIREUMUlZALVtIR4UPllSEBmlmNF1nJWynq1KMhUpICuSARdlAC6IBZ0VjLosnjQeXGgc5JAl6QDXScA3x/ltV38LviHrgAAAABJRU5ErkJggg==);
}
.gameoperate {
	position: absolute;
	bottom: 135px;
	width: 100%;
	top: 60%;
}
.download {
	background-color: #D9D9D9;
	width: 100%;
	height: 135px;
	position: absolute;
	bottom: 0px;
	display: table;
}
.download div {
	height: 100%;
	vertical-align: middle;
	display: table-cell;
}
.download .icon {
	width: 99px;
	padding: 17px;
}
.download .about {
	text-align: left;
}
.softname {
	margin: 5px;
	font-size: 2.5em;
	color: #454545;
}
.des {
	margin: 5px;
	font-size: 2em;
	color: #7F7F7F;
}
.download .free_download {
	background-color: #F3C659;
	width: 135px;
	height: 100%;
	text-align: center;
}
.dowloaddes {
	color: white;
	padding: 15px, 15px, 15px, 15px;
	font-size: 3em
}
.gameend {
	background-color: #f3c659;
	text-align: center;
	height: 100%;
	width: 100%;
}
.sharebar {
	display: table;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.sharebar div {
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: middle;
	display: table-cell;
}
.shareto {
	padding-left: 30px;
	font-size: 2.5em;
	color: white;
	text-align: left;
}
.shareimage {
	width: 89px;
	padding-right: 54px;
}
span.normal {
	color: #9F7C2C;
	font-size: 3em;
}
span#stockname {
	color: #836726;
	font-size: 3.5em;
	font-weight: bold;
}
span#profittotal {
	color: #FF2633;
	font-size: 5em;
}
span#profitunit {
	color: #FF2633;
	font-size: 3em;
}
.gamereslut {
	padding-top: 10%;
	text-align: center;
	vertical-align: middle;
}
.gamereslut div {
	padding-top: 15px;
	padding-bottom: 15px;
}
