html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}
div.sharebar {
	height: 5%;
	width: 100%;
	background-color: #F3C659;
	line-height: 1.5em;
	font-size: 1.3em;
	color: #fff;
	box-sizing: border-box;
}
div.sharebar>div {
	padding: 0 2%;
	height: 100%;
	width: 100%;
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
}
div.sharebar>div img {
	height: 100%;
	position: absolute;
	right: 5%;
}
div.atwe {
	height: 100%;
	display: table;
}
div.atwe>div {
	display: table-cell;
	vertical-align: middle;
}
div.gamereslut {
	padding: 5% 1%;
	height: 55.369068541301%;
	width: 100%;
	background-color: #F3C659;
	box-sizing: border-box;
	text-align: center;
}
div.gamereslut div {
	margin-top: 2%;
}
div.fund {
	width: 100%;
	height: 14.674868189807%;
	padding: 0.96660808435852% 2.9166666666667%;
	background-color: #F3C659;
	box-sizing: border-box;
	display: table;
}
div.fund>div {
	width: 48.672566371681%;
	height: 100%;
	background-color: #F8DF9E;
	display: table-cell;
	vertical-align: middle;
}
div.fund>div:nth-child(2) {
	width: 2.6548672566372%;
	background-color: transparent;
}
div.fund>div span {
	display: block;
	text-align: center;
	color: #A1833F;
	font-size: 1.3em;
}
div.fund>div span:nth-child(2) {
	color: #745719;
	font-size: 1.5em;
}
div.chart {
	height: 45.694200351494%;
	padding: 4.3936731107206% 2.9166666666667% 2.9166666666667% 2.9166666666667%;
	background-color: #F3C659;
	box-sizing: border-box;
}
canvas#game {
	height: 100%;
	width: 100%;
}
div.operator {
	height: 30%;
	width: 100%;
	position: relative;
}
div.operator:before {
	display: block;
	content: "";
	height: 15px;
	background-color: #f3c659;
	background-size: 30px 15px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyCAMAAACd646MAAAASFBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////neHiwAAAAF3RSTlMAPtOQ3MVySumtnWwqWPbuvqeGMSENBSpN188AAAEoSURBVFjDtdVZjsMwDANQWd4TN1vb8P43HSBfRZNpNvNdgDBoSXJUicFm71IHdMn5bEMsUpNpG8UGbVojNcxx8vjBT3GWe0oYsGsIRa4z1uEQZ83ViKbHYX1zJeZpE05J9innvIPiNA1vOcGMuGQ0cliruEhbOeZlcYN9yQEm45ZsZFf0uMlH2fFQ3KaPnQyHCtxjL4OdEhWV6L+9GI9qvJFNr4yK8va8WFRlZUOLylpZMYrKdFXLe0R14/fmDyAIX3dQQaDP7Z9F/GEmgSJ9dt+ApPl4SA+S3hAbWbdSHGhcoc3IelbmAUTDvIREUMUlZALVtIR4UPllSEBmlmNF1nJWynq1KMhUpICuSARdlAC6IBZ0VjLosnjQeXGgc5JAl6QDXScA3x/ltV38LviHrgAAAABJRU5ErkJggg==);
}
button#operate {
	width: 50%;
	height: 30%;
	position: absolute;
	top: 40%;
	left: 25%;
	background-color: #FD5359;
	color: #FFFFFF;
	font-size: 1.5em;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	border: 0;
}
div.download {
	height: 9.3145869947276%;
	width: 100%;
	padding: 0 2.0833333333333%;
	box-sizing: border-box;
}
div.download>div {
	width: 49%;
	height: 100%;
	background-color: #2E3535;
	border-radius: 3px;
	color: #E1E1E1;
	padding: 1.2302284710018% 1.9444444444444%;
	box-sizing: border-box;
	float: left
}
div.download>div:nth-child(2) {
	margin-left: 2%;
}
div.download>div>div {
	height: 100%;
	text-align: center;
	float: left;
}
div.download>div>div:nth-child(2) {
	margin-left: 10px;
	display: table;
}
div.download>div>div>div {
	display: table-cell;
	vertical-align: middle;
}
div.icon img {
	height: 100%;
}
div.about span {
	display: block;
	text-align: left;
}
div.about span:first-child {
	font-size: 1em;
}
div.about span:nth-child(2) {
	font-size: 0.8em;
}
span.normal {
	color: #9F7C2C;
	font-size: 1.3em;
}
span#stockname {
	color: #fff;
	font-size: 1.5em;
}
span#profittotal {
	font-size: 1.7em;
}
div.load {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
}
div.load>div {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -120px;
}
@media screen and (max-width: 640px) {
	div.sharebar {
		line-height: 1.2em;
		font-size: 0.9em;
	}
	div.fund div span {
		font-size: 0.9em;
	}
	div.fund div span:first-child {
		margin-top: 0;
	}
	div.fund div span:nth-child(2) {
		margin-top: 0.1em;
		font-size: 1.3em;
	}
	button#operate {
		font-size: 1.3em;
	}
	div.about span:first-child {
		margin-top: 0;
		font-size: 0.8em;
	}
	div.about span:nth-child(2) {
		font-size: 0.6em;
	}
}
